-var advantage = [{src:"images/01about.png",txt:"Работаем с 2014 года по всей России"},{src:"images/02about.png",txt:"Наши фабрики в Китае производят по нашему техническому заданию продукцию."},{src:"images/03about.png",txt:"Вся продукция проходит лабораторные исследования и сертификацию перед продажей."},{src:"images/04about.png",txt:"Широчайший ассортимент бытовой и профессиональной пиротехники."},{src:"images/05about.png",txt:"Мы производим самую широкую линейку петард в РФ."},{src:"images/06about.png",txt:"У нас партнерские розничные магазины по всему Крыму, мы в постоянном контакте с потребителем."},{src:"images/07about.png",txt:"Мы создали свой отдел дизайнеров для оригинальных этикеток."},{src:"images/08about.png",txt:"Наш отдел продаж проходит повышение квалификации каждые 3 месяца."}]
-var worker = [{src:"images/worker1.png",name:"Антон Касатов",position:"Менеджер по продажам"},{src:"images/worker2.png",name:"Алесксей Иванов",position:"Директор производства"},{src:"images/worker3.png",name:"Анна Петрова",position:"Дизайнер - проектировщик"},{src:"images/worker4.png",name:"Сергей Сидоров",position:"Менеджер по логистике"}]
-var product = [{src:"images/prodaction1.png",color:"color1",txt:"Проводим маркетинговое исследование, учитываем пожелания клиентов, проводим анализ конкурентов"},{src:"images/prodaction2.png",color:"color2",txt:"Разрабатываем схему изделия,даем техническое задание нескольким нашим производителям."},{src:"images/prodaction3.png",color:"color3",txt:"Изготавливаем образцы на разных фабриках, проводятся отстрелы продукции."},{src:"images/prodaction4.png",color:"no-color",txt:"Проведя тщательный отбор, из множества вариантов выбираем только лучшее изделие."},{src:"images/prodaction5.png",color:"color4",txt:"Получаем видео контроля качества, корректируем и видоизменяем"},{src:"images/prodaction6.png",color:"color5",txt:"Готовый образец изделия проходит лабораторные испытания, сертификацию."},{src:"images/prodaction7.png",color:"color6",txt:"Товар доставляется на центральный склад нашей компании"},{src:"images/prodaction8.png",color:"no-color",txt:"Проводим финальный контроль качества (отстрел), приглашаем клиентов для показа новой продукции."}]
-var client = ["","","","","","",]

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/home.css")
  body.noback
    include modules/modalphone
    include modules/reg
    include modules/icons
    include modules/header-small

    main.main
      .wrapper
        .nav-container
          p.nav-txt
            a.nav-txt-href(href="#") Главная
            span.slash /
            a.choise(href="#") О компании

      section.about
        .wrapper
          .about-head-conatainer
            h2.about-head О компании
          article.about-company
            h3.article-title Торговая марка «Джокер файерворкс» - как это было.
            .article-txt-container
              .column1
                p.articl-txt Компания Джокер зародилась в далеком 1998г.  В тот год впервые  была организована поставка пиротехнических изделий на территорию СНГ из «дружественной» Польши, где в то время, как известно  многим предпринимателям, находился западный филиал «бизнес-Рая»!
                  br
                  |Компания развивалась, увеличивая объемы продаж и количество довольных клиентов, и вот, пройдя первую ударную пятилетку, было принято решение знакомиться с родиной фейерверков. Поэтому в 2001 году отцы-основатели компании впервые ступили на землю «Поднебесной». Конечно это был качественный скачек, ведь возможность работать напрямую с производителем выводила компанию на совершенно другой уровень.
                  br
                  |Компания стремительно набирала обороты, и как результат сначала заняла лидирующие позиции в торговле бытовой пиротехникой, а затем, создав собственное подразделение по проведению фейерверков (что позволило в скором времени создать свою линейку профессиональной пиротехники), вошла в топ производителей «профки» со своим неповторимым стилем и дизайном эффектов!
                .story-container
                  .art-img-container
                    p.img-txt с 2007 г. - входит в пятерку
                      br
                      |лидеров пиротехнического
                      br
                      |рынка СНГ
                    img.storage(src="images/store.png" alt="img")
                  .year-container
                    .year-event
                      p.year 2014 год
                      p.event-name получили патент на тм «Джокер»
                        br
                        |на территории России
                    .year-event
                      p.year 2015 год
                      p.event-name заключен первый контракт
                        br
                        | Российского «Джокера».
                    .year-event
                      p.year 2019 год
                      p.event-name основание фестиваля
                        br
                        | «Соединяя друзей».
                p.articl-txt Конечно выход на новый рынок не был простой прогулкой, пришлось много работать над адаптацией коллекции для российского рынка, внедрять новые подходы в менеджменте (персональный менеджер), в дизайне (3С дизайн), логистике (организация центрального и региональных складов). Это дало свои результаты и среди российских поставщиков мы заняли свое достойное место! Но самое главное, что произошло за это время - это знакомство с Вами - нашими лучшими партнерами и, как мы смеем надеяться, – нашими дорогими и добрыми друзьями!

              .column2
                .show-container
                  img.show(src="images/show.png" alt="img")
                p.articl-txt Бытовая пиротехника в это время тоже не оставалась без внимания. Параллельно с оптовыми поставками была создана своя розничная сеть, и именно это позволило к профессиональному диалогу с крупными оптовыми клиентами, добавить мнение о нашей продукции простых покупателей. Мы стали более клиентоориентированными, улучшили качество и гибко реагировали на потребности рынка.
                .pic-logo-container
                  img.pic-logo(src="images/pic-logo.png" alt="img")
          .art-btn-grup
            button.art-btn(type="button") Смотреть каталог
            button.art-btn(type="button") Скачать прайс
          .numbers-about-container
            p.txt-head сегодня
              br
              | Joker firefox это:
            p.txt-kind
              span.num 6 лет
              span.txt успешной
                br
                | работы
            p.txt-kind
              span.num 485
              span.txt наименований
                br
                | товаров
            p.txt-kind
              span.num 2440 м2
              span.txt собственных
                br
                | складов

      section.advertising
        .wrapper
          ul.advantage-list
            each i in advantage
              li.item
                img.number(src=i.src alt="img")
                p.txt=i.txt
          .certificate-container
            h2.cert-head Сертификаты на продукцию
            .certificate-swiper
              .cert-img-container
                img.certificate-img(src="images/scertificate.png" alt="img")
                img.search(src="images/search.png")
              .cert-img-container
                img.certificate-img(src="images/scertificate.png" alt="img")
                img.search(src="images/search.png")
              .cert-img-container
                img.certificate-img(src="images/scertificate.png" alt="img")
                img.search(src="images/search.png")
              .cert-img-container
                img.certificate-img(src="images/scertificate.png" alt="img")
                img.search(src="images/search.png")
              button.arr.left(type="button")
              button.arr.right(type="button")
      section.team
        .wrapper
          h2.team-head Наша команда
          ul.team-list
            each i in worker
              li.team-card
                .team-img-container
                  img.tewm-photo(src=i.src alt="img")
                p.team-name=i.name
                p.team-position=i.position
                .separate
                button.team-email(type="button") corsar.rk@mail.ru
            button.arr.left(type="button")
            button.arr.right(type="button")
      section.production
        .wrapper
          .production-head Этапы производства
          .production-container
            each j in product
              .production-step
                .prod-img
                  img.prod-pic(src=j.src)
                  ul.dot-list
                    li.dot(class=j.color)
                    li.dot(class=j.color)
                    li.dot(class=j.color)
                    li.dot(class=j.color)
                    li.dot(class=j.color)
                    li.dot(class=j.color)
                p.prod-descp=j.txt
          .clint-head Наши клиенты
          ul.client-list
            each i in client
              li.list-item
                p.comp-txt Название компании
      include modules/question

    include modules/footer

    script(src="js/scripts.js")
