-var newGood = [{src:"images/pirate.png",name:"Петарда JF K0201F"},{src:"images/corsar.png",name:"Петарда JF К0203-3 'Корсар'"},{src:"images/megaboom.png",name:"Петарда JF TC-5B 'Мега Бум'"},{src:"images/war.png",name:"Петарда JF P8000"}]
-var assortment = [{src:"images/fire-star.png",name:"Бытовая пиротехника",txt:"(289 наименований)"},{src:"images/fireworks.png",name:"Сценическая пиротехника",txt:"(29 наименований)"},{src:"images/star.png",name:"Профессиональная пиротехника",txt:"(167+ эффектов)"}]
-var advantage = [{src:"images/adv01.png",txt:"Наши фабрики в Китае производят под наше ТЗ продукцию"},{src:"images/adv02.png",txt:"Вся продукция проходит лабораторные исследования перед продажей"},{src:"images/adv03.png",txt:"Мы производиv самую широкую линейку петард в РФ"},{src:"images/adv04.png",txt:"У нас партнерские розничные магазины по всему Крыму, мы в постоянном контакте с потребителем"},{src:"images/adv05.png",txt:"Мы создали свой отдел дизайнеров для разработки оригинальных этикеток"},{src:"images/adv06.png",txt:"Представляем большой ассортимент профессиональной пиротехники"}]

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/index.css")
  body
    include ./modules/icons
    include ./modules/header

    main.main

      section.info
        .wrapper
          .title-container
            h1.info-head Производитель
              br
              | и оптовый поставщик
              br
              | пиротехники в России
            .advert-container
              a.youtube-container(href="#")
                .txt-container
                  p.chanel Наш канал
                  p.you YouTube
              .storage-container
                p.txt 1290 м.кв.
                  span.city - собственный склад в Москве,
                p.txt 990 м.кв.
                  span.city - склад в Крыму
          .props-container
            .text-container
              img.num1(src="images/01.png" alt="img")
              p.txt Оригинальный
                br
                |многосюжетный дизайн
                br
                |упаковки
            .text-container
              img.num2(src="images/02.png" alt="img")
              p.txt у нас самая широкая
                br
                |линейка петард
                br
                |в россии
            .text-container
              img.num3(src="images/03.png" alt="img")
              p.txt Ежегодное обновление
                br
                |ассортимента на 20%
          button.consult(type="button") Консультация специалиста

      section.new-goods
        .wrapper
          h2.title Новые поступления
          .container
            button.arr.left(type="button")
              svg.icon-arrow(width="17", height="9", viewBox="0 0 17 9", xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#arrow")
            button.arr.right(type="button")
              svg.icon-arrow(width="17", height="9", viewBox="0 0 17 9", xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#arrow")
            each i in newGood
              a.card(href="#")
                .img-container
                  img.picture(src=i.src alt="img")
                p.name=i.name
                p.txt Продающий текст - описание товара.
                  br
                  |Зарегистрируйтесь, чтобы узнать
                  br
                  |оптовую цену.
                .btn Узнать цену
          ul.list
            li.item
              button.point(type="button")
            li.item
              button.point(type="button")
            li.item
              button.point(type="button")
            li.item
              button.point(type="button")
      section.assortment
        .wrapper
          h2.title В нашем ассортименте
          .card-container
            each i in assortment
              .card
                .img-container
                  img.pic(src=i.src alt="img")
                .txt-container
                  .name-container
                    p.name=i.name
                    p.amount=i.txt
                  button.search(type="button")
                  ul.list-assort
                    li.item
                      p.txt Петарда
                      .line
                      p.txt.txt2 от 6 руб/уп.
                    li.item
                      p.txt Салютная установка 9 выстрелов 0,8”
                      .line
                      p.txt.txt2 от 176 руб/шт.
                    li.item
                      p.txt Ракета 0,3"
                      .line
                      p.txt.txt2 от 23 руб/шт.
                    li.item
                      p.txt Римская свеча 20 зарядов
                      .line
                      p.txt.txt2 от 12,5 руб/шт.
                    li.item
                      p.txt Фонтан 1,5 м.
                      .line
                      p.txt.txt2 от 16 руб/шт.
          .offer-container
            .offer
              .inline
                p.wholesale успей купить
                 br
                 |
                 span.big оптом
                .price-container
                  p.name салютная установка
                  p.price от 395₽/шт.
                  p.details *17 видов салютных установок
                    br
                    |на 19 выстрелов (0.8-2 калибр)

              .clock
                .timer-container
                  p.timer-name До конца акции осталось
                  p.timer 00 : 13 : 02 : 30
                  p.timer-txt
                    span.day дней
                    span.hour часов
                    span.minutes минут
                    span.sec секунд

            form.request
              p.form-title Заполните заявку
              label(for="name")
              .input-grup
                .icon
                input.input(type="email" class="form-control" id="name" placeholder="Ваше имя")
              label(for="phone")
              .input-grup
                .icon.phone
                input.input(type="email" class="form-control" id="phone" placeholder="Ваш телефон")
              label(for="email")
              .input-grup
                .icon.email
                input.input(type="email" class="form-control" id="email" placeholder="Ваш e-mail")
              button.sent(type="sent") Отправить заявку
              p.form-terms
                input.form-agreement(id="agreement" type="checkbox")
                label.form-label(for="agreement") Я согласен с условиями обработки персональных данных

            img.book(src="images/book2.png" alt="img")
      section.advantage
        .wrapper
          h2.advantage-title Наши преимущества
          .numbers-container
            p.txt-head цифры говорят
              br
              |сами за себя:
            p.txt-kind
              span.num 157
              span.txt видов батареи
                br
                |салютов
            p.txt-kind
              span.num 289
              span.txt позиций бытовой
                br
                | пиротехники
            p.txt-kind
              span.num 2440 м2
              span.txt собственных складов
                br
                | в Москве и Крыму
        .advantage-container
          .wrapper
            ul.advantage-list
              each i in advantage
                li.item
                  img.numbr(src=i.src)
                  p.txt=i.txt
            .cup-container
              img.img(src="images/cup.png" alt="img")
              .txt-container
                p.txt.txt-competetion Наша компания проводит ежегодный демонстрационный показ продукции, принимая участие в фестивале «Соединяя друзей»
                p.txt.txt-reward Наша Крымская команда профессиональных пиротехников – лауреаты многочисленных Российских и международных премий.


include ./modules/footer

    script(src="js/scripts.js")
